__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.env.local
.git
.gitignore
.DS_Store
.vscode
.idea
*.md
README.md
test
pytest_cache
.pytest_cache
alembic.ini
*.egg-info
.mypy_cache
.ruff_cache